<div class="signers">

    {{#if aggregCity}}
        <h1>all signees from {{aggregCity}}..</h1>
    {{else}}
        <h1>all signees so far..</h1>
    {{/if}}
    {{#name}}
        {{#if userUrl}}
            <h3><a href="{{userUrl}}" target="_blank">{{firstName}} {{lastName}}</a> {{age}} <a href="signers/{{city}}">{{city}}</a> - {{created_at}}</h3>
        {{else}}
            <h3>{{firstName}} {{lastName}} {{age}} <a href="signers/{{city}}">{{city}}</a> - {{created_at}}</h3>
        {{/if}}
    {{/name}}


</div>
<div class="line"></div>
<p><h1>have a nice movement, anyway!</h1></p>
<div class="line"></div>
{{#if aggregCity}}
    <p><a href="/signers">wanna go back to all signees?</a></p>
{{/if}}
<p><a href="/signed">wanna see your signature again?</a></p>

{{> deco}}
