<div class="signers container">

    {{#if aggregCity}}
        <p> <h1>all signees from {{aggregCity}}..</h1> </p>
    {{else}}
        <p> <h1>all signees so far..</h1> </p>
    {{/if}}
    {{#name}}
        {{#if userUrl}}
            <h3><a href="{{userUrl}}" target="_blank">{{firstName}} {{lastName}}</a> {{age}} <a class="navAnimTrig" href="signers/{{city}}">{{city}}</a> - {{created_at}}</h3>
        {{else}}
            <h3>{{firstName}} {{lastName}} {{age}} <a class="navAnimTrig" href="signers/{{city}}">{{city}}</a> - {{created_at}}</h3>
        {{/if}}
    {{/name}}


</div>
<div class="line"></div>
<div class="container">
    <p><h1>have a nice movement, anyway!</h1></p>
    {{#if aggregCity}}
    <p><a class="navAnimTrig" href="/signers">wanna go back to all signees?</a></p>
    {{/if}}
    <p><a class="navAnimTrig" href="/signed">wanna see your signature again?</a></p>
</div>

<div class="line"></div>

{{> deco}}
